<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Quick Shared</title>
	<script type="importmap"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
	<link crossorigin="" href="https://fonts.gstatic.com/" rel="preconnect" />
	<link as="style" href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Space+Grotesk%3Awght%40400%3B500%3B700" onload="this.rel='stylesheet'" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body class="bg-[#111418] text-white h-full flex flex-col">
	<div class="wrapper flex-grow">
		<header class="flex items-center justify-between whitespace-nowrap px-10 py-3 bg-black">
			<a href="/" class="flex items-center gap-3 text-white">
					<h2 class="text-white text-xl font-bold">Quick Shared</h2>
				</a>
			<div class="flex flex-1 justify-end items-center gap-6">
				<nav class="hidden md:flex items-center gap-6">
					@* <a class="text-gray-300 hover:text-white text-sm font-medium transition-colors" href="#">Privacy</a> *@
				</nav>
			</div>
		</header>

		<main role="main">
			@RenderBody()
		</main>
	</div>
	
	<footer class="border-t border-gray-800 text-gray-400 p-4 text-center">
		<div class="container pl-8">
			&copy; 2025 - Quick Shared - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>

	<div id="spinner-overlay" class="hidden fixed inset-0 bg-black opacity-50 z-50 flex items-center justify-center">
		<div class="w-28 h-28 border-8 text-blue-400 text-4xl animate-spin border-gray-300 flex items-center justify-center border-t-blue-400 rounded-full">
			<svg viewBox="0 0 24 24" fill="currentColor" height="1em" width="1em" class="animate-ping">
				<path d="M12.001 4.8c-3.96 0-7.2 3.24-7.2 7.2s3.24 7.2 7.2 7.2 7.2-3.24 7.2-7.2-3.24-7.2-7.2-7.2zm0 12.96c-3.168 0-5.76-2.592-5.76-5.76s2.592-5.76 5.76-5.76 5.76 2.592 5.76 5.76-2.592 5.76-5.76 5.76zm.001-8.64c-.528 0-.96.432-.96.96s.432.96.96.96.96-.432.96-.96-.432-.96-.96-.96z"></path>
			</svg>
		</div>
	</div>

	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
